.onlinetext
{
	max-width:400px;
	max-height:100px;
	overflow:scroll;
}
.fa-check
{
	color:#98CC33;
}
.fa-times
{
	color:#FE403C;
}
.fa-square
{
	color:#dedede;
}
.grade-cell
{
	white-space:nowrap;
}		
.grade-valid
{
	background:rgba(152, 204, 51, 0.25);
}
.grade-invalid
{
	background:rgba(254, 64, 60, 0.25);
}
.grade-warning
{
	background:rgba(254, 255, 0, 0.25);
}
th
{
	text-align:center;
}
td
{
	vertical-align: middle !important;
}
.fetchedUrls
{
	display:flex;
	flex-direction: column;
	max-width: 300px;
	overflow: scroll;
	font-size: 11px;
}
.fetchedUrls .alert
{
	margin-top:5px;
	margin-bottom:5px;
}
.resume
{
	display:flex;
	flex-direction:column;
}
.resume-heading
{
	order:1;
	display:flex;
	margin:2rem auto;
	width:100%;
	max-width:1200px;
}
.resume-heading p
{
	display:flex;
	justify-content:space-between;
	padding:0 1.5rem;
}
.resume-table
{
	order:2;
}
.submission_timestamps
{

}
.submission_timestamps span
{
	font-size: 11px;
	display: block;
	white-space: nowrap;
}